{% extends "index.html" %}
{% block title %}om-blog{% endblock %}
{% block head %}
  {% include "bootstrap-css.html" %}
  <link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content %}
  <header class="jumbotron">
    <h1><a href="/">OM-BLOG</a></h1>
    <p class="login-buttons">
      {% if loggedin %}
      <a class="btn btn-default" href="/blog-form" role="button">Create Blog</a>
      <a class="btn btn-default" href="/signout" role="button">Signout</a>
      {% else %}
      <a class="btn btn-default" href="/login" role="button">Login</a>
      <a class="btn btn-default" href="/register" role="button">Register</a>
      {% endif %}
    </p>
  </header>
  <div class="container">
    <header class="row">
      <div class="col-md-8 col-centered">
        <h1 class="article-title">{{ blog.title }}</h1>
        <time class="article-date" datetime="{{ blog.date }}">
          Posted {{ blog.date.strftime('%d %B %Y') }} by {{ blog.user }}
      </div>
    </header>
    <article class="row article-content col-centered">
      <div class="col-md-8 col-centered">
        {% for line in blog.lines %}
        <p>{{ line }}</p>
        {% endfor %}
        {% if loggedin and blog.is_author(user) %}
        <a class="btn btn-default pull-right" href="/edit-blog/{{ blog_id }}" role="button">Edit</a>
        {% endif %}
      </div>
    </article>
    <div class="row like-control">
      <div class="col-md-8 col-centered">
        <hr>
        {% if loggedin %}
        <a id="like-button" href="/like/{{ blog_id }}">
        {% else %}
        <a href="/login">
        {% endif %}
          <p><span id="likes-heart" class="{{ heart }}">&hearts;</span> Good Read <span class="likes-number">{{ blog.likes|count }}</span></p>
        </a>
      </div>
    </div>
    {% if loggedin %}
    <form class="row" method="post" action="/create-comment/{{ blog_id }}">
    {% else %}
    <form class="row" method="get" action="/login">
    {% endif %}
      <div class="col-md-8 col-centered">
        <textarea class="form-control input-lg comment-input" name="text" placeholder="Join the discussion..."></textarea>
        <button type="submit" class="btn btn-default pull-right">Submit</button>
      </div>
    </form>
    <section class="blog-comments">
      {% for comment in comments %}
        {% include 'comment.html' %}
      {% endfor %}
    </section>
  </div>
{% endblock %}
{% block js %}
  {% include "jquery-js.html" %}
  {% include "bootstrap-js.html" %}
  <script src="/js/util.js"></script>
  <script src="/js/blog.js"></script>
{% endblock %}
